body {
   background-color: #262424;
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
    font-weight: 600;
    background-color: #9E9E9E;
    width:50%;
    margin: 0 auto;
    border-radius:5%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    align-items: center;
}

.button {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

/* Solid colored buttons with no shadow */

#red {
    background-color: #F44336; /* bright red */
}

#red:hover {
    transform: scale(1.2);
}

#yellow {
    background-color: #FFEB3B; /* bright yellow */
}

#yellow:hover {
    transform: scale(1.2);
}

#green {
    background-color: #4CAF50; /* bright green */
}

#green:hover {
    transform: scale(1.2);
}

#grey {
    background-color: #9E9E9E; /* grey */
}

#grey:hover {
    transform: scale(1.2);
}

h2 {
    text-align: center;
    color: #000000;
    margin-top: 50px;
    font-weight: 500;
    background-color: #9E9E9E;
    width:50%;
    margin: 0 auto;
    border-radius:5%;
}
